<footer class="site-footer">
  <div class="site-footer-container row">
    <div class="footer-logo small-6 columns">
      <svg class="footer-logo-icon">
        <use xlink:href="#pio-logo"></use>
      </svg>
    </div>
    <div class="footer-social small-6 columns">
      <div class="social-links">
        <ul>
          <li><a href="http://stackoverflow.com/users/2587435/peeskillet">
            <svg class="social-icon">
              <use xlink:href="#so-plain"></use>
            </svg>
          </a></li>
          <li><a href="https://github.com/psamsotha">
            <svg class="social-icon">
              <use xlink:href="#github-plain"></use>
            </svg>
          </a></li>
          <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}">
            <svg class="social-icon">
              <use xlink:href="#rss-plain"></use>
            </svg>
          </a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-license">
    <p class="license-message">
      This site is open source, licensed under Apache 2.0.<br>
      The source code is avaible at <a href="#">GitHub</a>.
    </p>
  </div>
</footer>
