<div class="recommended-books">
  <h2>Recommended Books</h2>
  <div class="books">
    {% if page.category == "angular" %}
    <div class="book">
      <a href="https://www.amazon.com/ng-book-Complete-Guide-Angular-4/dp/1546376232/ref=as_li_ss_il?s=books&ie=UTF8&qid=1518140223&sr=1-6&keywords=angular&linkCode=li3&tag=psamsothagith-20&linkId=18e14399a67e78b6227b137b04099027" target="_blank">
        <img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=1546376232&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=psamsothagith-20" >
      </a>
      <img src="https://ir-na.amazon-adsystem.com/e/ir?t=psamsothagith-20&l=li3&o=1&a=1546376232" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
    </div>
    <div class="book">
      <a href="https://www.amazon.com/Mastering-Angular-Components-Gion-Kunz/dp/1785884646/ref=as_li_ss_il?s=books&ie=UTF8&qid=1518140282&sr=1-13-spons&keywords=angular&psc=1&linkCode=li3&tag=psamsothagith-20&linkId=38ff9cbc9d234b72265dcb4a0654358d" target="_blank">
        <img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=1785884646&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=psamsothagith-20" >
      </a>
      <img src="https://ir-na.amazon-adsystem.com/e/ir?t=psamsothagith-20&l=li3&o=1&a=1785884646" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
    </div>
    <div class="book">
      <a href="https://www.amazon.com/Java-Angular-practical-single-page-applications/dp/1788291204/ref=as_li_ss_il?s=books&ie=UTF8&qid=1518139816&sr=1-17&keywords=angular&linkCode=li3&tag=psamsothagith-20&linkId=a39f44f60cffde5e5b94e9977b614d3e" target="_blank">
        <img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=1788291204&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=psamsothagith-20" >
      </a>
      <img src="https://ir-na.amazon-adsystem.com/e/ir?t=psamsothagith-20&l=li3&o=1&a=1788291204" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
    </div>
    {% endif %}

    {% if page.category == 'jersey' %}
    <div class="book">
      <a href="https://www.amazon.com/RESTful-Java-JAX-RS-2-0-Distributed/dp/144936134X/ref=as_li_ss_il?s=books&ie=UTF8&qid=1518141512&sr=1-1&keywords=RESTful+Java+with+JAX-RS+2.0&linkCode=li3&tag=psamsothagith-20&linkId=f6f05210313788bb4079e275b6ea4031" target="_blank">
        <img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=144936134X&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=psamsothagith-20" >
      </a>
      <img src="https://ir-na.amazon-adsystem.com/e/ir?t=psamsothagith-20&l=li3&o=1&a=144936134X" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
    </div>
    <div class="book">
      <a href="https://www.amazon.com/Java-Application-Development-Enterprise-applications-ebook/dp/B072MFGRVF/ref=as_li_ss_il?s=books&ie=UTF8&qid=1518141512&sr=1-9-spons&keywords=RESTful+Java+with+JAX-RS+2.0&psc=1&linkCode=li3&tag=psamsothagith-20&linkId=dcf82546007e8a4fb653138030b7b466" target="_blank">
        <img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B072MFGRVF&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=psamsothagith-20" >
      </a>
      <img src="https://ir-na.amazon-adsystem.com/e/ir?t=psamsothagith-20&l=li3&o=1&a=B072MFGRVF" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
    </div>
    <div class="book">
      <a href="https://www.amazon.com/Java-Angular-practical-single-page-applications/dp/1788291204/ref=as_li_ss_il?s=books&ie=UTF8&qid=1518139816&sr=1-17&keywords=angular&linkCode=li3&tag=psamsothagith-20&linkId=a39f44f60cffde5e5b94e9977b614d3e" target="_blank">
        <img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=1788291204&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=psamsothagith-20" >
      </a>
      <img src="https://ir-na.amazon-adsystem.com/e/ir?t=psamsothagith-20&l=li3&o=1&a=1788291204" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
    </div>
    {% endif %}
  </div>
  
</div>