<div class="social-share">
  <div class="social-share-item">
    <div class="twitter-tweet">
      <a href="https://twitter.com/share"
        class="twitter-share-button"
        data-show-count="false">Tweet</a>
    </div>
  </div>
  <div class="social-share-item">
    <div class="pinterest-save">
      <a data-pin-do="buttonBookmark"
        data-pin-save="true"
        href="https://www.pinterest.com/pin/create/button/"></a>
    </div>
  </div>
  <div class="social-share-item">
    <div class="fb-like"
        data-href="{{ site.url }}{% if site.baseurl != '' %}{{ site.baseurl + "/"}}{% endif %}{{ page.url }}"
        data-width="100px"
        data-layout="button_count"
        data-action="like"
        data-show-faces="false"
        data-share="true"></div>
  </div>
  <div class="social-share-item">
    <div class="google-plusone">
      <div class="g-plusone"
          data-size="tall"
          data-annotation="inline"
          data-width="300"
          data-href="{{ site.url }}{% if site.baseurl != '' %}{{ site.baseurl + "/"}}{% endif %}{{ page.url }}">
      </div>
    </div>
  </div> 
</div>