<header class="site-header" role="banner" data-page="{{ page.title }}">
  <div class="topbar {{ include.bg_class }}">
    <div class="site-constraint">
      <a class="topbar-logo" href="/{{ site.baseurl }}" title="Home Page">
        <svg class="topbar-logo-svg">
          <use xlink:href="#pio-logo"></use>
        </svg>
      </a>
      <nav class="topbar-nav-wrapper">
        <span class="topbar-nav-label" role="button" tabindex="0">Menu</span>
        <ul class="topbar-nav collapse">
          <li>
            <a class="topbar-nav-item"
                href="{{ site.baseurl }}{% link index.html %}"
                title="Home">
              Home
            </a>
          </li>
          <li>
            <a class="topbar-nav-item"
                href="{{ site.baseurl }}{% link archive/index.html %}"
                title="Archive">
              Archive
            </a>
          </li>
          <li>
            <a class="topbar-nav-item"
                href="{{ site.baseurl }}{% link contact/index.html %}"
                title="Contact">
              Contact
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
