.ad-top-banner,
.ad-bottom-banner {
  @media only screen and (min-width: $breakpoint-md) {
    width: 728px;
    height: 90px;
    margin: 0 auto;
    margin-top: 2em;
  }
}

.in-article-ad, .in-article-banner {
  margin: 1.5rem 0;
}

.ad-sidebar {
  display: none;

  .ad {
    display: none;
  }

  @media only screen and (min-width: $breakpoint-xxl) {
    display: block;

    .ad {
      width: 300px;
      height: 250px;
      margin-bottom: 1rem;
    }
  }
}