
.main-content {
  min-height: 100%;
  margin-bottom: -$footer-height;
  position: relative;

  padding-top: $topbar-height;
  padding-bottom: 60px;
}
.main-content {

}

@media only screen and (min-width: $breakpoint-md) {
  .main-content {
    padding-top: $topbar-height + 75px;
  }
}