
.site-home {

  .post-group {
    margin-top: 4em;
  }

  .post-group-header {
    text-align: center;
    margin-bottom: 1em;
  }
  
  .post-thumb {
    @include blend-background;
    @include centered-image;

    display: none;   
    height: 12rem; 
  }

  .post-details {

    .post-date {
      font-size: 0.8em;
      font-style: italic;
    }

    .post-description {
      margin-bottom: 0;
    }

    .post-title {
      line-height: 1.2;
      margin-bottom: 3px;
      font-size: $post-heading-size-sm;
    }
  }
}

/**
 * Latest Post
 */
.latest-post {

  .latest-post-link {
    @include blend-background;
    @include centered-image;

    height: 250px;
    padding: 1em;
    position: relative;
  }

  .post-info {
    position: absolute;
    bottom: 0;
  }

  .latest-post-title {
    @include medium-bold-font;
    color: $white;
    
    h2 {
      font-size: $post-heading-size-sm;
      margin-bottom: 2px;
    }
  }

  .latest-post-date {
    color: $gray-lightest;
    font-style: italic;
    font-size: 14px;
  }
}

/**
 * Featured Posts
 */
.featured-posts {
  
  .featured-posts-group {
    margin-top: -1rem;
  }

  .featured-post {
    @include strip-row-padding;
    color: $black;

    &:last-child {
      display: none;
    }

    &:hover {
      background-color: $gray;
    }

    a {
      display: block;
      color: $black;
      padding: 1rem;
    }
  }
}

@media only screen and (min-width: $breakpoint-xs) {
  .latest-post {
    .latest-post-link {
      height: 300px;
    }
  }
}

@media only screen and (min-width: $breakpoint-md) {
  .latest-post {
    .latest-post-link {
      height: 375px;
    }
  }
}

@media only screen and (min-width: $breakpoint-lg) {
  .latest-post {
    .latest-post-link {
      height: 425px;
    }
  }
}

@media only screen and (min-width: $breakpoint-sm) {
  .latest-post {

    .latest-post-title {
      h2 {
        font-size: 24px;
      }
    }

    .latest-post-date {
      font-size: 16px;
    }
  }

  .featured-posts {
    .featured-post {
      &:last-child {
        display: block;
      }
    }
  }
}


@media only screen and (min-width: $breakpoint-lg) {
  .site-home {
    .post-group-header {
       text-align: start;
    }

    .latest-post-link {
      height: 480px;
    }

    .post-thumb {
      display: block;
    }

    .post-details {
      padding: 1rem;
      background-color: $gray-lightest;
    }
  }

  .latest-post-title {
    h2 {
      font-size: 32px;
    }
  }

  .featured-posts {

    .featured-posts-group {
      margin-left: -1rem;
      margin-right: -1rem;
    }

    .featured-post {

      &:hover {
        background-color: $white;
      }

      &:last-child {
        display: none;
      }

      a {
        display: flex;
        height: 100%;
        flex-flow: column;
        &:hover { background-color: $white; }
      }

      .featured-details {
        flex: 1;
      }
    }
  }
}
