.social-share-item {
  display: inline-block;
  margin: 6px 12px 6px 0;

  .twitter-tweet {
    position: relative;
    top: 7px;
  }

  .google-plusone {
    position: relative;
    top: 11px;
  }
}

.post-banner {
  @include blend-background;
  @include centered-image;

  margin-top: -$topbar-height;
  margin-left: -$common-main-padding;
  margin-right: -$common-main-padding;
  padding-top: $topbar-height;

  text-align: center;
  color: $white;

  .post-title {
    @include site-constraint;
    padding-left: 2rem;
    padding-right: 2rem;
    line-height: 38px;

    .post-title-text {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 36px;
    }
  }

  .post-subtitle {
    margin-top: 0.5em;
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
  }

  .post-banner-container {
    padding: 4rem 0.5rem 4rem;
  }
}

.post-content {
  @include site-constraint;
  padding: 2em 2em 0 2em;
  
  ul, ol {
    margin-left: 1.5em;
  }

  a {
    font-weight: bold;
    color: $gray-darker;
    &:hover { color: $gray; }
  }
  
  code {
    padding: 2px;
    border: 1px solid $gray;
    border-radius: 3px;
  }

  pre {
    padding: 1em;
    line-height: 1.25em;

    > code {
      font-size: 14px;
      padding: 0;
      border: none;

      .err {
        background-color: transparent !important;
      }
    }
  }

  p {
    margin-bottom: 1em;
  }

  h1, h2, h3 {
    margin-top: 40px;
    margin-bottom: 15px;
  }

  h4 {
    margin-top: 20px;
    margin-bottom: 15px;
  }

  img {
    display: block;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

.disqus-comments {
  margin-top: 3em;
}

@media only screen and (min-width: $breakpoint-md) {
  .post {
    margin-top: -$header-clear-size;
  }

  .post-content {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  
  .post-banner {
    padding-top: $header-clear-size;

    .post-title {
      .post-title-text {
        font-size: 48px;
        line-height: 52px;
      }
    }

    .post-subtitle {
      margin-top: 2em;
      font-size: 16px;
    }
  }
}

@media only screen and (min-width: $breakpoint-md + 80px) {
  .post-content {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}


@media only screen and (min-width: $breakpoint-lg) {
  .post-banner {
    .post-title {
      .post-title-text {
        font-size: 64px;
        line-height: 68px;
      }
    }

    .post-subtitle {
      margin-top: 4em;
    }
  }

  .post-content {
    font-size: 18px;
    padding-left: 10rem;
    padding-right: 10rem;

    p {
      line-height: 1.75;
    }

    code {
      font-size: 16px;
    }

    pre {
      line-height: 1.3;
      > code {
        font-size: 16px;
      }
    }

    h4 {
      font-size: 1.3rem;
    }

    h3 {
      font-size: 1.5rem;
    }

    h2 {
      font-size: 1.9rem;
    }
  }
}

