

//====================
//  Colors
//--------------------
$black: #000;
$white: #fff;
$gray: #ccc;
$gray-lighter: #dbdbdb;
$gray-lightest: #e7e7e7;
$gray-darker: darken($gray, 40%);
$gray-darkest: darken($gray, 60%);

//====================
//  Base
//--------------------
$base-font-family: 'Open Sans Pro', Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-text-color: $black;
$base-font-weight: 400;
$base-line-height: 1.5;
$spacing-unit: 30px;

//===================
//  Sizes
//--------------------
$topbar-height: 70px;

$logo-width-sm: 100px;
$logo-height-sm: 24px;
$logo-width-lg: 200px;
$logo-height-lg: 48px;

$breakpoint-xs: 540px;
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1152px;

$content-lg-max-width: 1100px;
$content-top-margin: 3em;

$common-main-padding: 1rem;
$header-clear-size: 145px;
$footer-height: 205px;

$post-heading-size-sm: 20px;
