.site-header {
  @include clearfix;
  height: initial;
  background-color: $black;
}

.topbar {
  position: absolute;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  z-index: 100;
  background-color: $black;
}

.topbar-container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}

.topbar-nav-wrapper {
  float: right;
  margin-left: auto;
  margin-right: -16px;
}

.topbar-nav-label {
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  color: $white;

  &:hover, &.topbar-nav-open {
    background-color: darken($gray-darkest, 10%);
  }
}

.topbar-logo {
  position: absolute;
  top: 22px;
}

.topbar-logo-svg {
  height: 24px;
  width: 100px;
  fill: white;
}

#pio-logo {
  float: left;
}

.topbar-nav-label {
  padding: 20px 14px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 30px;
  display: block;
}

.topbar-nav {
  position: absolute;
  top: 70px;
  right: 0;
  width: 100%;
  display: block;
  list-style: none;
}

.topbar-nav-item {
  text-align: center;
  font-weight: bold;
  padding: 0.8em;
  text-transform: uppercase;
  color: $white;
  display: block;
  background-color: $gray-darkest;

  &:hover, &.active {
    background-color: darken($gray-darkest, 10%);
  }
}

/**
 * Larger Screens
 */
 @media only screen and (min-width: 768px) {
   .topbar-nav-label {
     display: none !important;
   }

   .topbar {
     height: initial;
     padding-top: 10px;
     padding-bottom: 25px;
   }

   .topbar-logo {
     margin-top: 20px;
   }

   .topbar-logo-svg {
     height: 48px;
     width: 200px;
   }

   .topbar-nav {
     position: static;
     display: flex !important;
     align-items: stretch;
     margin-top: 25px;
     background-color: transparent;

     li {
       display: flex;
       margin-left: 1em;
     }
   }

   .topbar-container {
     @include clearfix;
   }

   .topbar-nav-item {
     font-size: 22px;
     line-height: 32px;
     width: initial;
     background-color: transparent;

     &:hover, &.active {
       background-color: transparent;
       border: 2px solid $white;
       margin: -2px;
     }
   }
 }
